/* Calendar.css */
.calendar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Center horizontally */
  align-items: center;      /* Center vertically if needed */
  margin-top: 20px;
}

.react-calendar {
  width: 500px;
  max-width: 90%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.national-holiday {
  background-color: #ffe0b2 !important;
  border-radius: 50%;
  color: #d84315;
}

.admin-holiday {
  background-color: #c5e1a5 !important;
  border-radius: 50%;
  color: #33691e;
}

.holiday-name {
  font-size: 0.6em;
  text-align: center;
  color: #333;
  margin-top: 2px;
}

.holiday-details {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}